
{% macro book_form(action, genres, current_user, book) %}

<div class="container">
    <h2 class="my-3 text-center text-uppercase font-weight-bold">
        {% if action == 'create' %}
        Добавление книги 
        {% elif action == 'edit' %}
        Редактирование книги {{ book.name }}
        {% endif %}
    </h2>

    <form method="POST" action="{% if action == 'create' %}
    {{ url_for('new') }}
    {% elif action == 'edit' %}
    {{ url_for('edit', book_id = book.id) }}
    {% endif %}" enctype="multipart/form-data">
        <input type="hidden" name="author_id" value="{{ current_user.id }}">
        <div class="mb-3 row">
            <div class="col-md-6 d-flex flex-column">
                <div class="mb-3">
                    <label for="name">Название</label>
                    <input class="form-control" type="text" name="name" id="name"
                        value="{{request.form.get('name') or book.name or ''}}">
                </div>
                <div class="mb-3">
                    <label for="genres">Жанр</label>
                    <select class="form-select" name="genres" id="genres" multiple required>
                        {% for genre in genres %}
                        <option value="{{ genre.id }}" {% if genre.id | string in request.form.getlist('genres') or
                            genre.id in book.genres|map(attribute="id" ) %}selected{% endif %}>{{
                            genre.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="author">Автор</label>
                    <input class="form-control" type="text" name="author" id="author"
                        value="{{request.form.get('author') or book.author or ''}}">
                </div>
                <div class="mb-3">
                    <label for="publisher">Издательство</label>
                    <input class="form-control" type="text" name="publisher" id="publisher"
                        value="{{request.form.get('publisher') or book.publisher or ''}}">
                </div>
                <div class="mb-3">
                    <label for="year_release">Год выпуска</label>
                    <input class="form-control" type="text" name="year_release" id="year_release"
                        value="{{request.form.get('year_release') or book.year_release or ''}}">
                </div>
                <div class="mb-3">
                    <label for="pages_volume">Объём (в страницах)</label>
                    <input class="form-control" type="text" name="pages_volume" id="pages_volume"
                        value="{{request.form.get('pages_volume')  or book.pages_volume or ''}}">
                </div>
                <div class="mb-3 d-flex flex-column flex-grow-1">
                    <label for="short_desc">Краткое описание</label>
                    <textarea class="form-control flex-grow-1" name="short_desc" id="short_desc" cols="30"
                        rows="5">{{request.form.get('short_desc') or book.short_desc or ''}}</textarea>
                </div>


            </div>
            {% if action == 'create' %}
            <div class="col-md-6 d-flex flex-column">
                
                <div class="mb-3">
                    <label for="background_img">Обложка книги</label>
                    <input class="form-control" type="file" name="background_img" id="background_img">
                </div>
                <div class="mb-3 background-preview p-3 rounded d-flex align-items-center justify-content-center">
                    <img src="#" class="img-fluid d-none" alt="">
                    <label for="background_img" class="btn btn-dark">Выбрать изображение</label>
                </div>
            </div>
            {% elif action == 'edit' %}
            <div class="col-md-6 d-flex flex-column">
                <div class="mb-3 background-preview p-3 rounded d-flex align-items-center justify-content-center">
                    <img src="{{ url_for('image', image_id=book.image_id) }}" alt="Обложка книги" class="img-fluid" >
                </div>
            </div>
            {% endif %}
            </div>
            
        </div>

        <div class="mb-3 text-center">
            <input type="submit" class="btn btn-dark" value="Сохранить">
        </div>
    </form>
</div>


{% endmacro %}




{% macro all_books_form(books, current_user) %}
<table class="table">
    <tr>
        <th>Обложка книги</th>
        <th>Название</th>
        <th>Жанр(ы)</th>
        <th>Год</th>
        <th>Рейтинг</th>
        <th>Количество рецензий</th>
        <th>Действия</th>
    </tr>
    {% for book in books %}
    <tr>
        <td style="background-image: url({{ url_for('image', image_id=book.image_id) }});vertical-align: middle; background-size: contain; background-repeat: no-repeat; background-position: center; height: 150px;"> </td>
        <td style="vertical-align: middle;"> {{ book.name }}</td>
        <td style="vertical-align: middle;"> 
            {% for genre in book.genres %}
            {{ genre.name }}
            {% endfor %}
        </td>
        <td style="vertical-align: middle;"> {{ book.year_release }}</td>
        <td style="vertical-align: middle;"> <span>★</span> <span>{{ "%.2f" | format(book.rating) }}</span> </td>
        <td style="vertical-align: middle;"> {{ book.rating_num }} </td>
        <td style="vertical-align: middle;">
            <div class="btn-group" role="group">
                <a class="btn btn-secondary" href="{{url_for('show', book_id=book.id)}}">Просмотр</a>
                {% if current_user.is_authenticated %}
                {% if current_user.can('edit') %}
                <a class="btn btn-primary" href="{{url_for('edit', book_id = book.id)}}">Редактировать</a>
                {% endif %}
                {% if current_user.can('delete') %}
                <button class="btn btn-danger" data-url="{{url_for('delete', book_id = book.id)}}" 
                data-bs-toggle="modal" data-bs-target="#deleteBook">Удалить</button>

                {% endif %}
                {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

{% endmacro %}

{% macro popular_books_form(books, current_user) %}
<table class="table text-center">
    <tr>
        <th>Обложка книги</th>
        <th>Название</th>
        <th>Жанр(ы)</th>
        <th>Год</th>
        <th>Рейтинг</th>
        <th>Количество посещений за 3 месяца</th>
        <th>Действия</th>
    </tr>
    {% for book in books %}
    <tr>
        <td style="background-image: url({{ url_for('image', image_id=book[0].image_id) }});vertical-align: middle; background-size: contain; background-repeat: no-repeat; background-position: center; height: 150px;"> </td>
        <td style="vertical-align: middle;"> {{ book[0].name }}</td>
        <td style="vertical-align: middle;"> 
            {% for genre in book[0].genres %}
            {{ genre.name }}
            {% endfor %}
        </td>
        <td style="vertical-align: middle;"> {{ book[0].year_release }}</td>
        <td style="vertical-align: middle;"> <span>★</span> <span>{{ "%.2f" | format(book[0].rating) }}</span> </td>
        <td style="vertical-align: middle;"> {{ book[1] }} </td>
        <td style="vertical-align: middle;">
            <div class="btn-group" role="group">
                <a class="btn btn-secondary" href="{{url_for('show', book_id=book[0].id)}}">Просмотр</a>
                {% if current_user.is_authenticated %}
                {% if current_user.can('edit') %}
                <a class="btn btn-primary" href="{{url_for('edit', book_id = book[0].id)}}">Редактировать</a>
                {% endif %}
                {% if current_user.can('delete') %}
                <button class="btn btn-danger" data-url="{{url_for('delete', book_id = book[0].id)}}" 
                data-bs-toggle="modal" data-bs-target="#deleteBook">Удалить</button>

                {% endif %}
                {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

{% endmacro %}