{% extends 'visits/base.html' %}
{% from 'pagination.html' import render_pagination %}

{% block form_content %}
<div class="container mt-5">
    <form method="GET" action="{{ url_for('visits.books_visits') }}">
        <div class="form-group">
            <label for="date_from">Дата от:</label>
            <input type="date" id="date_from" name="date_from" value="{{ request.args.get('date_from', '') }}" class="form-control">
        </div>
        
        <div class="form-group">
            <label for="date_to">Дата до:</label>
            <input type="date" id="date_to" name="date_to" value="{{ request.args.get('date_to', '') }}" class="form-control">
        </div>

        <button type="submit" class="btn btn-dark mt-3">Применить</button>
    </form>

{% endblock %}

{% block tab_content %}

<table class="table mt-5">
    <thead>
        <tr>
            <th>
                №
            </th>
            <th>
                Книга
            </th>
            <th>
                Количество просмотров
            </th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>
                {{loop.index}}
            </td>
            <td>
                {{book[0].name}} 
            </td>
            <td>
                {{book[1]}}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{{ render_pagination(pagination, request.endpoint) }}
<a class="btn btn-dark mb-5" href="{{ url_for('visits.books_visits', export_csv=True) }}">Экспорт в CSV</a>
    </div>

{% endblock %}
