.logo {
    max-width: 50px;
}

.header-right-side {
    display: flex;
}

.header-links {
    transform: translate(0, 35%);
}

.fio-container {
    transform: translate(-10%, 20%);
}

.fio-container p {
    color: white;
}

.main h1, h3 {
    text-align: center;
}

.th-name {
    width: 300px;
}

.th-mark {
    width: 150px;
}

.th-reviews {
    width: 155px;
}

.td-buttons {
    width: 325px;
}

.background-preview {
    border: 3px dashed grey;
    flex-grow: 1;
}

.table th {
    text-align: center;
    vertical-align: middle;
}

.table td {
    text-align: center;
    vertical-align: middle;
}

.add-review-textarea {
    display: flex;
    justify-content: center;
}
.add-review select {
    width: 20%;
}
.add-review-button button {
    margin-bottom: 0px !important;
    margin-left: 0px !important;
}
.form-group {
    width: 15%;
}

.button-book-stat {
    transform: translate(-20%, 60%);
}