{% macro review_form(book_id) %}

<div class="container mt-5">
    <h2 class="mt-3 text-center">Добавить отзыв на книгу</h2>

    <form method="post" action="{{ url_for('reviews.new_review', book_id=book_id) }}">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="rating">Оценка:</label>
                    <select class="form-control" id="rating" name="rating">
                        <option value="5" selected>Отлично</option>
                        <option value="4">Хорошо</option>
                        <option value="3">Удовлетворительно</option>
                        <option value="2">Неудовлетворительно</option>
                        <option value="1">Плохо</option>
                        <option value="0">Ужасно</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="text">Текст отзыва:</label>
                    <textarea class="form-control" id="text" name="text" rows="4"></textarea>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 mt-3 mb-5">
                <button type="submit" class="btn btn-primary">Отправить отзыв</button>
            </div>
        </div>
    </form>
</div>

{% endmacro %}


{% macro review_show_one(review) %}

<div class="card mt-3 mb-3 me-3 ms-3">
    <div class="card-body">

        <p class="card-text"><strong>{{ review.user.full_name }}</strong> ({{ review.created_at }}):</p>
        <p class="card-text"><strong>Оценка:</strong> {{ review.rating }}</p>
        <p class="card-text"><strong>Текст отзыва:</strong> {{ review.text | safe() }}</p>
    </div>
</div>

{% endmacro %}