{% extends 'base.html' %}
{% from 'pagination.html' import render_pagination %}
{% from 'books/macros.html' import all_books_form, popular_books_form %}

{% block content %}

<div class="h-100 text-center d-flex p-3 bg-light mt-5">
    <div class="m-auto">
    
        <h1 class="title mb-5 font-weight-bold">Электронная библиотека</h1>
        
        <div class="container">
            <p class="description w-75 mb-5 px-3 mx-auto">
                Добро пожаловать в нашу электронную библиотеку! Здесь вы найдете тысячи книг на любой вкус: 
                от классической литературы до современных бестселлеров. 
                Удобный интерфейс позволяет легко искать и скачивать книги в различных форматах. 
                Наслаждайтесь чтением в любое время и в любом месте!
            </p>

        </div>

        <div class="all_books">
            <h2 class="title mb-5 font-weight-bold">Каталог книг</h2>
        
            {{ all_books_form(books, current_user) }}

            <div class="mb-5">
                {{ render_pagination(pagination, request.endpoint) }}
            </div>

            {% if current_user.is_authenticated and current_user.can('create') %}
            <div class="text-center mt-5 mb-5">
                <a class="btn btn-lg btn-dark" href="{{ url_for('new') }}">Добавить книгу</a>
            </div>
            {% endif %}

        </div>
        {% if top_books %}
        <div class="popular_books">
            <h2 class="title mb-5 font-weight-bold mt-5">Популярные книги</h2>
                {{ popular_books_form(top_books, current_user) }}
        </div>
        {% endif %}
        {% if last_books %}
        <div class="last_books">
            <h2 class="title mb-5 font-weight-bold mt-5">Последние просмотренные книги</h2>
                {{ all_books_form(last_books, current_user) }}
        </div>
        {% endif %}
        

        <!-- modal -->
        {% if current_user.is_authenticated and current_user.can('delete') %}
        <div class="modal fade" id="deleteBook" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Удаление книги</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Вы уверены, что хотите удалить книгу <span id="bookLogin"></span>?</p>
                        <form class="d-none" action="" method="POST">
                            <input type="submit" id="deleteBookButton">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                        <label class="btn btn-danger" for="deleteBookButton">Удалить</label>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        
    </div>
    
</div>



{% endblock %}