{% extends 'base.html' %}
{% from 'pagination.html' import render_pagination %}

{% block content %}
    <!-- Modal -->
    <div class="modal fade" id="deleteBook" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Удаление книги</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <p>Вы уверены, что хотите удалить книгу <span id="bookName"></span>?</p>
                    <form class="d-none" action="" method="POST">
                        <input type="submit" id="deleteBookButton">
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Отмена</button>
                    <label for="deleteBookButton" class="btn btn-danger">Удалить</label>
                </div>
            </div>
        </div>
    </div>

    <div class="main container-fluid">
        {% if data | length != 0 %}
            <h1 class="my-5">Список книг</h1>

            <div class="container-fluid">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="th-name" scope="col">Название</th>
                            <th scope="col">Жанр(ы)</th>
                            <th scope="col">Год</th>
                            <th class="th-mark" scope="col">Средняя оценка</th>
                            <th class="th-reviews" scope="col">Кол-во рецензий</th>
                            <th scope="col">Действия</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for item in data %}
                            <tr>
                                <td id="nameOfBook">{{ item.get('book_name') }}</td>
                                <td>{{ item.get('genres') }}</td>
                                <td>{{ item.get('book_year') }}</td>
                                <td>{{ item.get('average_score') }}</td>
                                <td>{{ item.get('number_of_reviews') }}</td>
                                <td class="td-buttons">
                                    <a class="btn btn-success btn-sm" href="{{ url_for('book.show', book_id=item.get('book_id')) }}">Просмотр</a>
                                    
                                    {% if current_user.is_authenticated and current_user.can('edit') %}
                                        <a class="btn btn-primary btn-sm" href="{{ url_for('book.edit', book_id=item.get('book_id')) }}">Редактирование</a>
                                    {% endif %}

                                    {% if current_user.is_authenticated and current_user.can('remove') %}
                                    <button 
                                        class="btn btn-danger btn-sm" 
                                        id="{{ loop.index }}"
                                        data-bs-toggle="modal" 
                                        data-url="{{ url_for('book.remove', book_id=item.get('book_id')) }}" 
                                        data-bs-target="#deleteBook"
                                        >
                                        Удалить
                                    </button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% if 'index' in request.endpoint %}
                <div class="mb-5">
                    {{ render_pagination(pagination, request.endpoint) }}
                </div>
            {% endif %}

        {% else %}
            <h1 class="my-5">Тут пока пусто</h1>
        {% endif %}

        {% if current_user.is_authenticated and current_user.can('add') %}
            <div class="text-center my-3">
                <a class="btn btn-secondary" href="{{ url_for('book.new') }}">Добавить книгу</a>
            </div>
        {% endif %}
    </div>
{% endblock %}