{% extends 'base.html' %}

{% block content %}
<div class="title-area position-relative">
    <h1 class="my-5">Недавно просмотренные книги</h1>
    {% if history != none %}
        <hr>
        {% for book in history %}
            <div class="h-100 w-100 py-5 d-flex text-center position-relative">
                <div class="m-auto">
                    <h1 class="title mb-5 font-weight-bold">{{ book.name }}</h1>
                    <img src="{{ url_for('image', image_id=book.cover_id) }}" alt="Cover of book" height="400">
                    <p class="my-3 mx-auto">
                        Рейтинг | <span>★</span> <span>{{ average_score_list[loop.index - 1] }}</span>
                    </p>
                    <div class="container">
                        <div class="book-desc">
                            <h2 class="desc mt-5 mb-3">Описание книги</h2>
                            <p class="description w-75 mb-5 mx-auto">
                                {{ book.markdown_desc | safe }}
                            </p>
                        </div>

                        <div class="book-info">
                            <h2 class="info mt-5 mb-4">Сведения о книге</h2>
                            <div class="row">
                                <p class="year w-50">
                                    <b>Год издания: </b>{{ book.year }} год
                                </p>
                                <p class="publisher w-50">
                                    <b>Издательство: </b>{{ book.publisher }}
                                </p>
                            </div>

                            <div class="row">
                                <p class="year w-50">
                                    <b>Автор: </b>{{ book.author }}
                                </p>
                                <p class="publisher w-50">
                                    <b>Объем книги: </b>{{ book.volume }} страниц
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}
    {% else %}
        <h3>Здесь пока пусто</h3>
    {% endif %}
</div>
{% endblock %}